@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.App{
  width: 85%;
  padding: 2rem;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.share{
  width: 80%;
  display: flex;
  justify-content: end;
}
.more{
  width: 80%;
  display: flex;
  justify-content: end;
  display: none;
}
.pic{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pic #twitter{
  font-weight: bold;
}
.pic #slack{
  display: none;
}
.main{
  margin: 2rem 0;
}
.icon{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}
hr{
  margin: 1rem 0;
  border:1px solid #EAECF0;
}
footer{
  color: #667085;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
}
@media (max-width:997px) {
  .App{
    width: 100%;
  }
  .share{
    display: none;
  }
  .more{
    display: flex;
  }
  footer{
    
    flex-wrap: wrap;
  }
}